<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/style.css">
    <title>PERK - Tabs Menu</title>
</head>
<body>
   <div id="app" v-cloak>
        <div class="container">
            <div class="tabs"> 
                <button class="btn main" @click="showBreakfast">Завтраки</button>
                <button class="btn main" @click="showMenu">Меню</button>
                <button class="btn main" @click="showBar">Бар</button>
            </div>
            <div class="menu-categories">
                <div class="categories" v-if="categories === 'breakfast'">
                    <button
                        class="btn sub"
                        @click="displayCategory"
                        v-for="name in categoriesBreakfast"
                    >{{ name }}
                    </button>
                </div>
                <div class="categories" v-if="categories === 'menu'">
                    <button
                        class="btn sub"
                        @click="displayCategory"
                        v-for="name in categoriesMenu"
                    >{{ name }}
                    </button>
                </div>
                <div class="categories" v-if="categories === 'bar'">
                    <button
                        class="btn sub"
                        @click="displayCategory"
                        v-for="name in categoriesBar"
                    >{{ name }}
                    </button>
                </div>
            </div>
            <div class="menu-list">
                <img
                    class="menu-img"
                    :src="src"
                    alt="title_photo"
                />
                <div class="list-dishes">
                    <div class="dishes" v-for="dish in displayArr" :key="title">
                        <p class="text" style="max-width: 600px">{{dish.title}}</p>
                        <p class="text" style="margin-right: 10px">{{dish.price}}</p>
                    </div>
                </div>
            </div>
        </div>
   </div>
   <script src="https://unpkg.com/vue@next"></script>
   <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
   <script src="./appScript.js" type="module"></script>
</body>
</html>