[v-cloak] {
    display: none;
}

h1 , h2, h3, h4, h5, h6, p, span, btn {
    font-family: 'Roboto';
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.tabs {
    display: flex;
    width: 100%;
    gap: 20px
}

.btn {
    width: fit-content;
    height: 50px;
    font-size: 20px;
    font-weight: 200;
    color: #41464a;
    border: none;
    cursor: pointer;
    padding: 0;
}

.main {
    background-color: #fff;
}

.sub {
     background-color: #E0D6CA;
}

.btn:hover {
    text-decoration: underline;
}

.btn:focus {
    font-weight: 600;   
}

.menu-categories {
    width: 100%;
    height: 40px;
    background-color: #E0D6CA;
    padding: 10px 0 10px;
}

.categories {
    padding-left: 20px; 
    display: flex;
    gap: 20px;
    background-color: #E0D6CA;
}

.menu-list {
    width: 100%;
    display: flex;
    margin-top: 40px; 
}

.menu-img {
    width: 40%;
    height: 700px;
    object-fit: cover;
}

.list-dishes {
    width: 60%;
    height: 700px;
    overflow: hidden;
    overflow-y: auto;
    margin-left: 60px;
    display: block
}

.list-dishes::-webkit-scrollbar {
    width: 4px;
}

.list-dishes::-webkit-scrollbar-thumb {
    background-color: #E6E6E6;
    margin-left: 4px; 
}

.dishes {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    align-items: self-start;
    justify-content: space-between;
}

.text {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.6rem;
}